.calendar-table td, .calendar-table th {
  border : 1px solid #aaa;
}

.month-masthead {
  font-size  : 2em;
  text-align : center;
}

.month-year {
  position : absolute;
  top      : 0;
  width    : 97%;
}

.month-name, .month-year {
  font-size : larger;
}

.head th {
  text-align : center;
  color      : #222;
  height     : 95px;
}

th.sunday, .sunday .gregorian {
  color : #f55 !important;
}

.malayalam-weekday {
  font-size : 0.5em;
}

h1, .day > .gregorian, .head {
  font-size  : 3em;
  text-align : center;
}

.day {
  position  : relative;
  margin    : 5px;
  min-width : 120px;
  color     : #444;
}

.moon {
  position  : absolute;
  top       : 0;
  right     : 0;
  font-size : larger;
}

.today {
  background-color : #f6f031;
}

.selected {
  background-color : #9bf666;
}

.today.selected {
  border : 2px solid #f6f031;
}

.day-popover {
  padding : 0;
  border  : none;
}

.day-popover-table {
  min-width : 200px;
}

.day-popover-table > div:nth-child(1) {
  border-bottom : solid 1px #ccc;
}

.day-popover-table span {
  font-size   : larger;
  white-space : nowrap;
}

.naksatra, .malayalam-day {
  text-align     : center;
  color          : #000;
  white-space    : nowrap;
  vertical-align : middle;
}

.malayalam-day {
  font-size : 1.4em;
  min-width : 25px;
  float     : left;
}

.naksatra {
  float         : right;
  padding-right : 5px;
}
