.root {
  text-align     : center;
  min-height     : 800px;
  padding-bottom : 30px;
}

#year-nav {
  font-size     : 3em;
  margin-bottom : 10px;
}

#year-nav .editable-controls {
  line-height : 1em;
}

.year-nav {
  font-size      : 0.8em;
  vertical-align : middle;
}

.year-select {
  height : 63px;
}

.month-nav {
  list-style : none;
  font-size  : 1.5em;
}

.month-nav li {
  display : inline-block;
  padding : 2px 3px;
}

.month-nav-sep {
  margin : 0 10px;
  color  : #ccc
}

.calendar-month {
  text-align     : start;
  display        : inline-block;
  margin         : 15px 0;
  padding        : 15px;
  border         : solid 1px #ddd;
  vertical-align : top;
  position       : relative;
}
