.root {
  text-align     : center;
  padding-bottom : 30px;
}

.nav-container {
  position : relative;
  width    : 96%;
  margin   : auto;
  border   : solid 1px #eee;
  padding  : 8px 2px 0;
}

#calendar-nav {
  font-size     : 3em;
  margin-bottom : 10px;
}

#calendar-nav .editable-controls {
  line-height : 1em;
}

.calendar-nav {
  position       : absolute;
  top            : 26px;
  font-size      : 0.5em;
  vertical-align : middle;
}

.calendar-nav button[disabled] {
  cursor : not-allowed;
  color  : #ccc;
}

.calendar-nav.left {
  left : 10px;
}

.calendar-nav.right {
  right : 10px;
}

.hint {
  font-size : small;
  color     : #888;
}

.year-select {
  height : 63px;
}

.month-nav {
  list-style : none;
  font-size  : 1.2em;
}

.month-nav-label {
  font-size : smaller;
}

.month-nav li {
  display : inline-block;
  padding : 2px 3px;
}

.month-nav-sep {
  margin : 0 10px;
  color  : #ccc
}

.year-detail, .month-detail, .back-to-top {
  position : absolute;
  z-index  : 1;
  cursor   : pointer;
}

.year-detail, .month-detail {
  left : 18px;
  top  : 60px
}

.back-to-top {
  top   : 5px;
  right : 10px;
}

.calendar-month {
  text-align     : start;
  display        : inline-block;
  margin         : 15px 0;
  padding        : 15px;
  border         : solid 1px #ddd;
  vertical-align : top;
  position       : relative;
}
