<table class="calendar">
  <colgroup span="7"></colgroup>
  <tbody>
    <tr class="head">
      <!-- ngRepeat: weekday in weekdaysLookup --><th scope="col" ng-repeat="weekday in weekdaysLookup" title="Sunday" ng-class="weekday.en == 'Sunday' ? 'sunday' : '' " class="ng-scope sunday">
        <div class="ng-binding">S</div>
        <div class="malayalam-weekday ng-binding">ഞായർ</div>
      </th><!-- end ngRepeat: weekday in weekdaysLookup --><th scope="col" ng-repeat="weekday in weekdaysLookup" title="Monday" ng-class="weekday.en == 'Sunday' ? 'sunday' : '' " class="ng-scope">
        <div class="ng-binding">M</div>
        <div class="malayalam-weekday ng-binding">തിങ്കൾ</div>
      </th><!-- end ngRepeat: weekday in weekdaysLookup --><th scope="col" ng-repeat="weekday in weekdaysLookup" title="Tuesday" ng-class="weekday.en == 'Sunday' ? 'sunday' : '' " class="ng-scope">
        <div class="ng-binding">T</div>
        <div class="malayalam-weekday ng-binding">ചൊവ്വ</div>
      </th><!-- end ngRepeat: weekday in weekdaysLookup --><th scope="col" ng-repeat="weekday in weekdaysLookup" title="Wednesday" ng-class="weekday.en == 'Sunday' ? 'sunday' : '' " class="ng-scope">
        <div class="ng-binding">W</div>
        <div class="malayalam-weekday ng-binding">ബുധൻ</div>
      </th><!-- end ngRepeat: weekday in weekdaysLookup --><th scope="col" ng-repeat="weekday in weekdaysLookup" title="Thursday" ng-class="weekday.en == 'Sunday' ? 'sunday' : '' " class="ng-scope">
        <div class="ng-binding">T</div>
        <div class="malayalam-weekday ng-binding">വ്യാഴം</div>
      </th><!-- end ngRepeat: weekday in weekdaysLookup --><th scope="col" ng-repeat="weekday in weekdaysLookup" title="Friday" ng-class="weekday.en == 'Sunday' ? 'sunday' : '' " class="ng-scope">
        <div class="ng-binding">F</div>
        <div class="malayalam-weekday ng-binding">വെള്ളി</div>
      </th><!-- end ngRepeat: weekday in weekdaysLookup --><th scope="col" ng-repeat="weekday in weekdaysLookup" title="Saturday" ng-class="weekday.en == 'Sunday' ? 'sunday' : '' " class="ng-scope">
        <div class="ng-binding">S</div>
        <div class="malayalam-weekday ng-binding">ശനി</div>
      </th><!-- end ngRepeat: weekday in weekdaysLookup -->
    </tr>

    <!-- ngRepeat: week in weeks --><tr ng-repeat="week in weeks" class="ng-scope">

      <!-- ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day sunday" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding"></div>
          <div class="malayalam-day ng-binding"></div>
          <div class="naksatra ng-binding">&nbsp; </div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding"></div>
          <div class="malayalam-day ng-binding"></div>
          <div class="naksatra ng-binding">&nbsp; </div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding"></div>
          <div class="malayalam-day ng-binding"></div>
          <div class="naksatra ng-binding">&nbsp; </div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding"></div>
          <div class="malayalam-day ng-binding"></div>
          <div class="naksatra ng-binding">&nbsp; </div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding"></div>
          <div class="malayalam-day ng-binding"></div>
          <div class="naksatra ng-binding">&nbsp; </div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">1</div>
          <div class="malayalam-day ng-binding">18</div>
          <div class="naksatra ng-binding">&nbsp; അത്തം</div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">2</div>
          <div class="malayalam-day ng-binding">19</div>
          <div class="naksatra ng-binding">&nbsp; ചിത്ര</div>
        </div>
      </td><!-- end ngRepeat: day in week -->

    </tr><!-- end ngRepeat: week in weeks --><tr ng-repeat="week in weeks" class="ng-scope">

      <!-- ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day sunday" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">3</div>
          <div class="malayalam-day ng-binding">20</div>
          <div class="naksatra ng-binding">&nbsp; ചിത്ര</div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">4</div>
          <div class="malayalam-day ng-binding">21</div>
          <div class="naksatra ng-binding">&nbsp; ചോതി</div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">5</div>
          <div class="malayalam-day ng-binding">22</div>
          <div class="naksatra ng-binding">&nbsp; വിശാഖം</div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">6</div>
          <div class="malayalam-day ng-binding">23</div>
          <div class="naksatra ng-binding">&nbsp; അനിഴം</div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">7</div>
          <div class="malayalam-day ng-binding">24</div>
          <div class="naksatra ng-binding">&nbsp; തൃക്കേട്ട</div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">8</div>
          <div class="malayalam-day ng-binding">25</div>
          <div class="naksatra ng-binding">&nbsp; മൂലം</div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">9</div>
          <div class="malayalam-day ng-binding">26</div>
          <div class="naksatra ng-binding">&nbsp; പൂരാടം</div>
        </div>
      </td><!-- end ngRepeat: day in week -->

    </tr><!-- end ngRepeat: week in weeks --><tr ng-repeat="week in weeks" class="ng-scope">

      <!-- ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day sunday" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">10</div>
          <div class="malayalam-day ng-binding">27</div>
          <div class="naksatra ng-binding">&nbsp; ഉത്രാടം</div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">11</div>
          <div class="malayalam-day ng-binding">28</div>
          <div class="naksatra ng-binding">&nbsp; തിരുവോണം</div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">12</div>
          <div class="malayalam-day ng-binding">29</div>
          <div class="naksatra ng-binding">&nbsp; അവിട്ടം</div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">13</div>
          <div class="malayalam-day ng-binding">30</div>
          <div class="naksatra ng-binding">&nbsp; ചതയം</div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">14</div>
          <div class="malayalam-day ng-binding">31</div>
          <div class="naksatra ng-binding">&nbsp; ഉത്രട്ടാതി</div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">15</div>
          <div class="malayalam-day ng-binding">1</div>
          <div class="naksatra ng-binding">&nbsp; രേവതി</div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">16</div>
          <div class="malayalam-day ng-binding">2</div>
          <div class="naksatra ng-binding">&nbsp; അശ്വതി</div>
        </div>
      </td><!-- end ngRepeat: day in week -->

    </tr><!-- end ngRepeat: week in weeks --><tr ng-repeat="week in weeks" class="ng-scope">

      <!-- ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day sunday" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">17</div>
          <div class="malayalam-day ng-binding">3</div>
          <div class="naksatra ng-binding">&nbsp; ഭരണി</div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">18</div>
          <div class="malayalam-day ng-binding">4</div>
          <div class="naksatra ng-binding">&nbsp; കാർത്തിക</div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">19</div>
          <div class="malayalam-day ng-binding">5</div>
          <div class="naksatra ng-binding">&nbsp; രോഹിണി</div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">20</div>
          <div class="malayalam-day ng-binding">6</div>
          <div class="naksatra ng-binding">&nbsp; മകയിരം</div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">21</div>
          <div class="malayalam-day ng-binding">7</div>
          <div class="naksatra ng-binding">&nbsp; തിരുവാതിര</div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">22</div>
          <div class="malayalam-day ng-binding">8</div>
          <div class="naksatra ng-binding">&nbsp; പുണർതം</div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">23</div>
          <div class="malayalam-day ng-binding">9</div>
          <div class="naksatra ng-binding">&nbsp; പൂയം</div>
        </div>
      </td><!-- end ngRepeat: day in week -->

    </tr><!-- end ngRepeat: week in weeks --><tr ng-repeat="week in weeks" class="ng-scope">

      <!-- ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day sunday" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">24</div>
          <div class="malayalam-day ng-binding">10</div>
          <div class="naksatra ng-binding">&nbsp; ആയില്യം</div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">25</div>
          <div class="malayalam-day ng-binding">11</div>
          <div class="naksatra ng-binding">&nbsp; മകം</div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">26</div>
          <div class="malayalam-day ng-binding">12</div>
          <div class="naksatra ng-binding">&nbsp; പൂരം</div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">27</div>
          <div class="malayalam-day ng-binding">13</div>
          <div class="naksatra ng-binding">&nbsp; പൂരം</div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">28</div>
          <div class="malayalam-day ng-binding">14</div>
          <div class="naksatra ng-binding">&nbsp; ഉത്രം</div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">29</div>
          <div class="malayalam-day ng-binding">15</div>
          <div class="naksatra ng-binding">&nbsp; അത്തം</div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">30</div>
          <div class="malayalam-day ng-binding">16</div>
          <div class="naksatra ng-binding">&nbsp; ചിത്ര</div>
        </div>
      </td><!-- end ngRepeat: day in week -->

    </tr><!-- end ngRepeat: week in weeks --><tr ng-repeat="week in weeks" class="ng-scope">

      <!-- ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day sunday" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding">31</div>
          <div class="malayalam-day ng-binding">17</div>
          <div class="naksatra ng-binding">&nbsp; ചോതി</div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding"></div>
          <div class="malayalam-day ng-binding"></div>
          <div class="naksatra ng-binding">&nbsp; </div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding"></div>
          <div class="malayalam-day ng-binding"></div>
          <div class="naksatra ng-binding">&nbsp; </div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding"></div>
          <div class="malayalam-day ng-binding"></div>
          <div class="naksatra ng-binding">&nbsp; </div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding"></div>
          <div class="malayalam-day ng-binding"></div>
          <div class="naksatra ng-binding">&nbsp; </div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding"></div>
          <div class="malayalam-day ng-binding"></div>
          <div class="naksatra ng-binding">&nbsp; </div>
        </div>
      </td><!-- end ngRepeat: day in week --><td ng-repeat="day in week" class="ng-scope">
        <div class="day" ng-class="$first ? 'sunday' : ''">
          <div class="gregorian ng-binding"></div>
          <div class="malayalam-day ng-binding"></div>
          <div class="naksatra ng-binding">&nbsp; </div>
        </div>
      </td><!-- end ngRepeat: day in week -->

    </tr><!-- end ngRepeat: week in weeks -->

  </tbody>
</table>
