<div>
  <div class="clearfix month-masthead">
    <div class="pull-left"><span class="month-name">{{month.name}} | {{month.days[0].mlMonth}}</span></div>
    <div class="pull-right">
      <div class="malayalam-year">{{malayalamYears}}</div>
      <div class="malayalam-month">{{malayalamMonthNames}}</div>
    </div>
  </div>

  <div class="month-year text-center"><h1>{{year}}</h1></div>

  <table class="calendar-table">
    <colgroup span="7"></colgroup>
    <tbody>

      <tr class="head">
        <th scope="col" ng-repeat="weekday in weekdaysLookup" ng-class="weekday.en == 'Sunday' ? 'sunday' : '' ">
          <div>{{weekday.en | limitTo: 1}}</div>
          <div class="malayalam-weekday">{{weekday[lang || 'ml']}}</div>
        </th>
      </tr>

      <tr ng-repeat="week in weeks" on-finish-render-ng-repeat>

        <td ng-repeat="day in week" ng-class="{ 'today' : day.isToday, 'selected' : day.isSelected }">
          <calendar-day day="day" lang="lang" ng-class="{ 'sunday' : $first }"></calendar-day>
        </td>

      </tr>

    </tbody>
  </table>
</div>
