<a ng-show="day.date" tabindex="0" class="btn day-popover" title="{{day.fullDate}}"  data-placement="auto" data-trigger="focus"
   data-content="<div class='day-popover-table'><div class='text-center'><span class='pull-left'>{{day.malayalamYear}} </span><span> {{day.malayalamMonth}} </span><span class='pull-right'> {{day.malayalamDay}}</span></div><div><span>{{day.naksatra}}</span><span class='pull-right'>{{day.tithiDay}}</span></div></div>">
  <div class="day">
    <div class="gregorian">{{day.date}}</div>
    <div class="malayalam-day">{{day.malayalamDay}}</div>
    <div class="naksatra">&#160; {{day.naksatra}}</div>
    <div class="moon">{{day.moon}}</div>
  </div>
</a>
