<div class="root" ng-controller="MainCtrl">
  <div id="year-nav">
    <span class="left year-nav"> <a ng-click="previous()"> &lt; {{previousYear}} </a> </span>
    <a href="#" editable-select="year" data-e-ng-options="s.value as s.text for s in years"
       title="Click to change the year" buttons="no" class="year-select">
      {{ showYear() }}
    </a>
    <span class="right year-nav"> <a ng-click="next()"> {{nextYear}} &gt; </a> </span>
  </div>

  <div>
    <ul class="month-nav">
      <li ng-repeat="month in calendar.months">
        <span class="month-nav-sep" ng-show="$first"> | </span>
        <a ng-click="scrollTo('month-{{month.name}}')" title="{{month.name}}">{{month.name | limitTo: 3}}</a>
        <span class="month-nav-sep"> | </span>
      </li>
    </ul>
  </div>

  <div cg-busy="calendar"></div>

  <div ng-repeat="month in calendar.months" id="{{ 'month-' + month.name }}" class="calendar-month">
    <h2 class="clearfix">
      <span class="month-name">{{month.name}}</span>
      <small ng-show="!$first"><a ng-click="scrollTo('year-nav')">Back to Top</a></small>
      <div class="malayalam-month-year">
        <div class="malayalam-year">{{malayalamYears}}</div>
        <div class="malayalam-month">{{malayalamMonthNames}}</div>
      </div>
    </h2>

    <month ng-model="month"></month>
  </div>
</div>
