<div class="root" ng-controller="MonthCtrl">

  <div id="calendar-nav" class="nav-container">
    <span class="calendar-nav left">
      <button ng-click="previous()" ng-disabled="calendar.previousYear < 1900">
        &lt; {{calendar.previousMonthName}}
      </button>
    </span>
    <div>
      <small>
        <month-picker></month-picker>
        <year-picker></year-picker>
      </small>
      <div class="hint">
        Click on the month or year to change it.
      </div>
    </div>
    <span class="calendar-nav right">
      <button ng-click="next()" ng-disabled="calendar.nextYear > 2050">
        {{calendar.nextMonthName}} &gt;
      </button>
    </span>
  </div>

  <div cg-busy="calendar.data"></div>

  <div class="calendar-container">

    <div ng-repeat="month in calendar.data.months" id="{{ 'month-' + month.name }}" class="calendar-month">

      <div class="year-detail">
        <a ui-sref="year({year: calendar.year, lang: calendar.lang, sel: calendar.sel})">
          Back to {{calendar.year}} Calendar
        </a>
      </div>

      <calendar-month month="month" lang="calendar.lang" sel="calendar.sel"></calendar-month>

    </div>

  </div>

</div>
