<div class="root" ng-controller="YearCtrl">

  <div id="year-nav">
    <span class="pull-left year-nav"> <button ng-click="previous()" ng-disabled="previousYear < 1900"> &lt; {{previousYear}}</button> </span>
    <a href="#" editable-select="year" data-e-ng-options="s.value as s.text for s in years"
       title="Click to change the year" buttons="no" class="year-select">
      {{ showYear() }}
    </a>
    <span class="pull-right year-nav"> <button ng-click="next()" ng-disabled="nextYear > 2050"> {{nextYear}} &gt; </button> </span>
  </div>

  <div>
    <ul class="month-nav">
      <li ng-repeat="month in calendar.months">
        <span class="month-nav-sep" ng-show="$first"> | </span>
        <a ng-click="scrollTo('month-{{month.name}}')" title="{{month.name}}">{{month.name | limitTo: 3}}</a>
        <span class="month-nav-sep"> | </span>
      </li>
    </ul>
  </div>

  <div cg-busy="calendar"></div>

  <div class="calendar-container">

    <div ng-repeat="month in calendar.months" id="{{ 'month-' + month.name }}" class="calendar-month">

      <span ng-show="backToTopVisibility" class="back-to-top">
        <a class="scroll-up" ng-click="scrollToTop()" title="Back to the top">Top</a>
      </span>

      <calendar month="month"></calendar>

    </div>

  </div>

</div>
