<div class="root" ng-controller="YearCtrl">

  <div id="calendar-nav" class="nav-container">
    <span class="calendar-nav left">
      <button ng-click="previous()" ng-disabled="calendar.previousYear < 1900">
        &lt; {{calendar.previousYear}}
      </button>
    </span>
    <div>
      <small>
        <year-picker></year-picker>
      </small>
      <div class="hint">
        Click on the year to change it.
      </div>
    </div>
    <span class="calendar-nav right">
      <button ng-click="next()" ng-disabled="calendar.nextYear > 2050">
        {{calendar.nextYear}} &gt;
      </button>
    </span>
  </div>

  <month-navbar months="calendar.data.months"></month-navbar>

  <div cg-busy="calendar.data"></div>

  <div class="calendar-container">

    <div ng-repeat="month in calendar.data.months" id="{{ 'month-' + month.name }}" class="calendar-month">

      <div class="month-detail">
        <a ui-sref="month({ year: calendar.year, month: $index + 1, lang: calendar.lang, sel: calendar.sel })">
          View {{month.name}} {{calendar.year}} Calendar
        </a>
      </div>

      <span ng-show="calendar.backToTopVisibility" class="back-to-top">
        <scroll-to-top></scroll-to-top>
      </span>

      <calendar-month month="month" lang="calendar.lang" sel="calendar.sel"></calendar-month>

    </div>

  </div>

</div>
